body {
  padding: 0;
  margin: 0;
}

.hero {
  width: 100px;
  height: 100px;
  background-color: black;
  animation: run 10s linear forwards;
}

@keyframes run {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, calc(100vh - 100px));
  }

  40% {
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }

  60% {
    transform: translate(calc(100vw - 100px), 0);
  }

  80%{
    transform: translate(0, calc(100vh - 100px));
  }

  100%{
    transform: translate(0, 0);
  }
}
