$clr-red: red;
$clr-purple: purple;
$clr-green: green;
$clr-magenta: magenta;
$clr-lightcoral: lightcoral;
$clr-pink: pink;

.all-visited {
  a {
    text-decoration: line-through;
  }
}

ul {
  a {
    text-decoration: none;

    &:hover {
      color: $clr-red;
    }

    &:active {
      color: $clr-purple;
    }

    &:visited {
      color: $clr-green;
    }
  }
}

ol {
  a {
    &:hover {
      color: $clr-magenta;
    }

    &:active {
      color: $clr-pink;
    }

    &:visited {
      color: $clr-lightcoral;
    }
  }
}

.para {
  padding: 10px 20px;
  .reverse & {
    width: 50%;
    padding: 0;
  }
}

.para-short {
  width: 50%;
  margin: 0 auto;

  .reverse & {
    padding: 10px 20px;
    width: 100%;
  }
}

//wrong, but wrong
// .reverse {
//   .para-short {
//     width: 100%;
//   }
// }
